# Build output
dist/
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*

# macOS-specific files
.DS_Store

# Deployment settings (for Vercel CLI)
.vercel/

# Ignore astro files
*.astro
